/*-------- Main Page CSS---------*/
#view-my-work-button {
    padding: 10px;
    font-size: 30px;
    color: black;
    border: 1px solid black;
}

#business-photo {
    width: 500px;
    height: 500px;
    position: relative;
    border-radius: 50%;
    background-size: contain;
}

#view-my-work-button {
    margin-top: 10px;
    display: block;
    width: 300px;
    height: 80px;
    font-weight: bold;
    text-align: center;
    color: black;
    text-transform: uppercase;
    border: 3px solid rgb(0, 0, 0);
    transition: all .30s;
}

#view-my-work-button:hover {
    width: 400px;
    font-size: 40px;
    border: 3px solid #000000;
    background: transparent;
    background-color:#2037e4;
    color: white;
}

.flex {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 210px;
}

/* Source: https://1stwebdesigner.com/15-css-background-effects/ */
body {
    text-align: center;
    background: linear-gradient(-45deg, #52e645, #7ca948, #16c1ff, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#my-name {
    font-size: 1.3em;
    letter-spacing: -1px;
    font-weight: 800;
    color: #2037e4;
}

#my-name:hover {
    color: green;
    font-size: 70px;
}

#main-page {
    display: none;
}

/*-------- About Me Page CSS---------*/
#about-me-navbar {
    font-size: 20px;
    font-weight: bold;
}

#about-me-page {
    display: none;
}